<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rf.restaurant_user"
    android:versionCode="3"
    android:versionName="1.0.1" >

    <permission
        android:name="com.rf_user.activity.googlemapsv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- <uses-permission android:name="info.androidhive.googlemapsv2.permission.MAPS_RECEIVE" /> -->

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Requires OpenGL ES version 2 -->
    <!-- <uses-feature -->
    <!-- android:glEsVersion="0x00020000" -->
    <!-- android:required="true" /> -->

    <application
        android:name="com.rf_user.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.rf_user.activity.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rf_user.activity.FindRestaurant"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.RestaurantFinder"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Search_Restaurant_List"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <!-- <activity android:name="Register_Activity" -->
        <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
        <!-- android:windowSoftInputMode="stateHidden"></activity> -->
        <activity
            android:name="com.rf_user.activity.Categories"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Food_Categories_Details_List"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.ForgetPassword"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Login"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Register_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.MyApplication"
            android:label="@string/title_activity_my_application" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Checkout_Tablayout"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Checkout_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Delivery_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Contact_Details_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Payment_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Reciept_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity android:name="com.rf_user.activity.MainActivity" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Pick_myself"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Cart"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>

        <!-- Goolge API Key -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyApDuP0M-IsCofIQ6736lmfhczSsnhdH-Q" />
        
<!--       28_8  AIzaSyCOLcZkhCHh_Tlo3gnzZyCLLoE9Hu89fQE -->
        <!-- <meta-data -->
        <!-- android:name="com.facebook.sdk.ApplicationId" -->
        <!-- android:value="@string/facebook_app_id" /> -->


        <!-- <provider -->
        <!-- android:name="com.facebook.FacebookContentProvider" -->
        <!-- android:authorities="com.facebook.app.FacebookContentProvider841446575941953" -->
        <!-- android:exported="true" /> -->


        <!-- ishita 28-11      AIzaSyBR7L_admD48AJajAPLZznSUptOgDKJbss -->
        <!-- pankaj-pc 26-11    AIzaSyCSYGIaKhU0MAx7W1q_t1cqOIWoJNRBlpM -->
        <!-- pankaj-pc 25-11  AIzaSyBWfZ5jWw8712P1gFMCfNxKptPkfPAiduA -->
        <!-- pankaj-pc key: AIzaSyC49u7vF0JqgYGg5KRiIvBXqbHhvn6NQP8 -->
        <!-- pankaj-pc -new AIzaSyB4MGaiaQMl3HwjGAhI6Bf6MY66VDMuOwk -->


        <!-- chetan-pc key: AIzaSyAayvTSzsm3S1ZsR86O_icKJDep-29xHpI -->
        <activity
            android:name="com.rf_user.activity.delivery_contact_details_DATE_TIME"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.GrabTableActivity"
            android:label="@string/title_activity_grab_table"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.ReviewActivity"
            android:label="@string/title_activity_review"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.ThankingYouScreen"
            android:label="@string/title_activity_thanking_you_screen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Booking_Screen_TabLayout"
            android:label="@string/title_activity_booking_confirmation_screen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.BookingConfirmationScreen"
            android:label="@string/title_activity_booking_confirmation_screen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.MyFavourites"
            android:label="@string/title_activity_my_favourites"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.InvitationScreen"
            android:label="@string/title_activity_invitation_screen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.MyBooking"
            android:label="@string/title_activity_my_booking"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.MyProfile"
            android:label="@string/title_activity_my_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.AboutRestaurant"
            android:label="@string/title_activity_about_restaurant"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.PostReview"
            android:label="@string/title_activity_post_review"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.SettingsScreen"
            android:label="@string/title_activity_settings_screen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.MyNetworking"
            android:label="@string/title_activity_my_networking"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.RestaurantGallery"
            android:label="@string/title_activity_restaurant_gallery"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.RestaurantImageDetail"
            android:label="@string/title_activity_restaurant_image_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.ReviewPulltoRefresh"
            android:label="@string/title_activity_review_pullto_refresh"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.ChangePassword"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.LoyaltyRewardsScreen"
            android:label="@string/title_activity_loyalty_rewards_screen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.TableGraberBookings"
            android:label="@string/title_activity_table_graber_bookings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.OnlineOrderBookings"
            android:label="@string/title_activity_online_order_bookings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>

        <!-- admin registration steps -->

        <activity
            android:name="com.rf_user.activity.Registration_step1_Activity"
            android:label="@string/title_activity_registration_step1_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.RegistrationTablayout"
            android:label="@string/title_activity_registration_step1_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Registration_step2_Activity"
            android:label="@string/title_activity_registration_step2_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Registration_step3_Activity"
            android:label="@string/title_activity_registration_step3_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Registration_step4_Activity"
            android:label="@string/title_activity_registration_step4_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.Registration_step5_Activity"
            android:label="@string/title_activity_registration_step4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.rf_user.activity.MyBookedCart"
            android:label="@string/title_activity_my_booked_cart" >
        </activity>
    </application>

</manifest>